{% extends "base.html" %}

{% block title %}Branch Admin Dashboard{% endblock %}

{% block content %}

<div class="dashboardHomepage">
    <div class="container col-lg-12 mt-3">
        <div class="row">
            
            <div class="card my-2">
                <h3>Branch Staffs</h3>
                <p>Staff Number: {{staff_count}}</p>
                <a href="#" type="button" class="btn btn-warning px-4 my-2">Details</a>
            </div>
             <div class="card my-2">
                <h3>Branch Orders</h3>
                <p>Orders Number: {{order_data}}</p>
                <button type="button" class="btn btn-warning px-4 my-2">Details</button>
            </div>
             <div class="card my-2">
                <h3>Branch Products</h3>
                <p>Pizza Number: {{pizzaNum}}</p>
                <p>SideOffering Number: {{sideOfferingNum}}</p>
                <p>Drink Number: {{drinkNum}}</p>
                <button type="button" class="btn btn-warning px-4 my-2">Details</button>
            </div>
             <div class="card my-2">
                <h3>Branch Promotions</h3>
                <p>National Promotions Number: {{ nationalPromotionsNum }}</p>
                <p>Branch Promotions Number: {{ branchPromotionsNum }}</p>
                <button type="button" class="btn btn-warning px-4 my-2">Details</button>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}