{% extends 'base.html' %} {% block title %}My orders{% endblock %} {% block
content %}

<div id="trackOrderApp" class="container-fluid py-3 bg-body-tertiary">
    <div class="my-1 bg-body-tertiary">
    <!-- ... (breadcrumb code) ... -->
    </div>
    <div class="container mt-4 col-lg-12">

      <!-- live pizza tracker -->
      <div class="pizza-tracker">
        <svg
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          width="300px"
          height="200px"
          viewBox="0 0 1920.000000 963.000000"
          preserveAspectRatio="xMidYMid meet"
        >
        <linearGradient id="progressGradient">
            <stop offset="0%" stop-color="white" />
            <stop offset="50%" stop-color="#af675b" />
            <stop offset="100%" stop-color="#b01e07" />
          </linearGradient>

          <mask id="progressMask">
            <path fill="white" transform="translate(0.000000,963.000000) scale(0.100000,-0.100000)" d="M93 9509 c36 -68 581 -1135 1212 -2371 l1146 -2248 -1225 -2377 c-674 -1307 -1226 -2385 -1226 -2395 0 -17 19 -18 373 -19 204 -1 390 -2 412 -4 22 -1 744 -5 1605 -9 861 -3 1637 -8 1725 -11 88 -3 810 -7 1605 -10 795 -3 1573 -7 1730 -10 157 -3 872 -7 1590 -10 718 -3 1499 -7 1735 -10 237 -3 957 -7 1600 -10 644 -3 1424 -7 1735 -10 311 -3 1029 -8 1595 -11 l1030 -6 1230 2437 c677 1340 1231 2442 1233 2449 2 9 -2442 4668 -2462 4692 -2 3 -2693 13 -4676 19 -4237 12 -5302 15 -10113 31 l-1919 7 65 -124z" />
          </mask>
             
          <g
            :class="{ 'arrow-stage': true, 'done': orderPlaced }"
            fill=""
            stroke="none"
          >
            <path 
              transform="translate(0.000000,963.000000) scale(0.100000,-0.100000)"
              d="M93 9509 c36 -68 581 -1135 1212 -2371 l1146 -2248 -1225 -2377
            c-674 -1307 -1226 -2385 -1226 -2395 0 -17 19 -18 373 -19 204 -1 390 -2 412
            -4 22 -1 744 -5 1605 -9 861 -3 1637 -8 1725 -11 88 -3 810 -7 1605 -10 795
            -3 1573 -7 1730 -10 157 -3 872 -7 1590 -10 718 -3 1499 -7 1735 -10 237 -3
            957 -7 1600 -10 644 -3 1424 -7 1735 -10 311 -3 1029 -8 1595 -11 l1030 -6
            1230 2437 c677 1340 1231 2442 1233 2449 2 9 -2442 4668 -2462 4692 -2 3
            -2693 13 -4676 19 -4237 12 -5302 15 -10113 31 l-1919 7 65 -124z"
            />
          </g>

          <text
            x="53%"
            y="53%"
            text-anchor="middle"
            class="stage-text"
          >
            Order placed
          </text>
        </svg>
        <svg
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          width="300px"
          height="200px"
          viewBox="0 0 1920.000000 963.000000"
          preserveAspectRatio="xMidYMid meet"
        >
          <g
            :class="{ 'arrow-stage': true, 'done': orderInOven }"
            transform="translate(0.000000,963.000000) scale(0.100000,-0.100000)"
            fill="none"
            stroke="none"
          >
            <path
              d="M93 9509 c36 -68 581 -1135 1212 -2371 l1146 -2248 -1225 -2377
            c-674 -1307 -1226 -2385 -1226 -2395 0 -17 19 -18 373 -19 204 -1 390 -2 412
            -4 22 -1 744 -5 1605 -9 861 -3 1637 -8 1725 -11 88 -3 810 -7 1605 -10 795
            -3 1573 -7 1730 -10 157 -3 872 -7 1590 -10 718 -3 1499 -7 1735 -10 237 -3
            957 -7 1600 -10 644 -3 1424 -7 1735 -10 311 -3 1029 -8 1595 -11 l1030 -6
            1230 2437 c677 1340 1231 2442 1233 2449 2 9 -2442 4668 -2462 4692 -2 3
            -2693 13 -4676 19 -4237 12 -5302 15 -10113 31 l-1919 7 65 -124z"
            />
          </g>


          <rect v-if="orderUnderProcess && !orderInOven" width="100%" height="100%" fill="url(#progressGradient)" mask="url(#progressMask)" style="z-index: 999;">
            <!-- Animate the mask's position to indicate progress -->
            <animateTransform attributeName="transform" attributeType="XML" type="translate" from="-300 0" to="0 0" dur="2s" begin="0s" repeatCount="indefinite" />
          </rect>

         
          
          <text
            x="54%"
            y="53%"
            text-anchor="middle"
            class="stage-text"
          >
            [[ orderProcessingText ]]
          </text>
        </svg>
        <svg
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          width="300px"
          height="200px"
          viewBox="0 0 1920.000000 963.000000"
          preserveAspectRatio="xMidYMid meet"
        >

          <g
            :class="{ 'arrow-stage': true, 'done': qualityChecking }"
            transform="translate(0.000000,963.000000) scale(0.100000,-0.100000)"
            fill=""
            stroke="none"
          >
            <path
              d="M93 9509 c36 -68 581 -1135 1212 -2371 l1146 -2248 -1225 -2377
            c-674 -1307 -1226 -2385 -1226 -2395 0 -17 19 -18 373 -19 204 -1 390 -2 412
            -4 22 -1 744 -5 1605 -9 861 -3 1637 -8 1725 -11 88 -3 810 -7 1605 -10 795
            -3 1573 -7 1730 -10 157 -3 872 -7 1590 -10 718 -3 1499 -7 1735 -10 237 -3
            957 -7 1600 -10 644 -3 1424 -7 1735 -10 311 -3 1029 -8 1595 -11 l1030 -6
            1230 2437 c677 1340 1231 2442 1233 2449 2 9 -2442 4668 -2462 4692 -2 3
            -2693 13 -4676 19 -4237 12 -5302 15 -10113 31 l-1919 7 65 -124z"
            />
          </g>


            <rect v-if="orderInOven && !qualityChecking" width="100%" height="100%" fill="url(#progressGradient)" mask="url(#progressMask)" style="z-index: 999;">
              <!-- Animate the mask's position to indicate progress -->
              <animateTransform attributeName="transform" attributeType="XML" type="translate" from="-300 0" to="0 0" dur="2s" begin="0s" repeatCount="indefinite" />
            </rect>


          <text
            x="53%"
            y="53%"
            text-anchor="middle"
            class="stage-text"
          >
            [[ orderInOvenText ]]
          </text>
        </svg>
        <svg
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          width="300px"
          height="200px"
          viewBox="0 0 1920.000000 963.000000"
          preserveAspectRatio="xMidYMid meet"
        >
        
          <g
            :class="{ 'arrow-stage': true, 'done': readyInStore }"
            transform="translate(0.000000,963.000000) scale(0.100000,-0.100000)"
            fill=""
            stroke="none"
          >
            <path
              d="M93 9509 c36 -68 581 -1135 1212 -2371 l1146 -2248 -1225 -2377
            c-674 -1307 -1226 -2385 -1226 -2395 0 -17 19 -18 373 -19 204 -1 390 -2 412
            -4 22 -1 744 -5 1605 -9 861 -3 1637 -8 1725 -11 88 -3 810 -7 1605 -10 795
            -3 1573 -7 1730 -10 157 -3 872 -7 1590 -10 718 -3 1499 -7 1735 -10 237 -3
            957 -7 1600 -10 644 -3 1424 -7 1735 -10 311 -3 1029 -8 1595 -11 l1030 -6
            1230 2437 c677 1340 1231 2442 1233 2449 2 9 -2442 4668 -2462 4692 -2 3
            -2693 13 -4676 19 -4237 12 -5302 15 -10113 31 l-1919 7 65 -124z"
            />
          </g>

            <rect v-if="qualityChecking && !readyInStore" width="100%" height="100%" fill="url(#progressGradient)" mask="url(#progressMask)" style="z-index: 999;">
              <!-- Animate the mask's position to indicate progress -->
              <animateTransform attributeName="transform" attributeType="XML" type="translate" from="-300 0" to="0 0" dur="2s" begin="0s" repeatCount="indefinite" />
            </rect>

          <text
            x="53%"
            y="53%"
            text-anchor="middle"
            class="stage-text"
          >
           [[ qualityCheckingText ]]
          </text>
        </svg>
        <svg
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          width="300px"
          height="200px"
          viewBox="0 0 1920.000000 963.000000"
          preserveAspectRatio="xMidYMid meet"
        >
        
          <g
            :class="{ 'arrow-stage': true, 'done': orderOnTheWay  }"
            transform="translate(0.000000,963.000000) scale(0.100000,-0.100000)"
            fill=""
            stroke="none"
          >
            <path
              d="M93 9509 c36 -68 581 -1135 1212 -2371 l1146 -2248 -1225 -2377
            c-674 -1307 -1226 -2385 -1226 -2395 0 -17 19 -18 373 -19 204 -1 390 -2 412
            -4 22 -1 744 -5 1605 -9 861 -3 1637 -8 1725 -11 88 -3 810 -7 1605 -10 795
            -3 1573 -7 1730 -10 157 -3 872 -7 1590 -10 718 -3 1499 -7 1735 -10 237 -3
            957 -7 1600 -10 644 -3 1424 -7 1735 -10 311 -3 1029 -8 1595 -11 l1030 -6
            1230 2437 c677 1340 1231 2442 1233 2449 2 9 -2442 4668 -2462 4692 -2 3
            -2693 13 -4676 19 -4237 12 -5302 15 -10113 31 l-1919 7 65 -124z"
            />
          </g>

            <rect v-if="readyInStore && !orderOnTheWay" width="100%" height="100%" fill="url(#progressGradient)" mask="url(#progressMask)" style="z-index: 999;">
              <!-- Animate the mask's position to indicate progress -->
              <animateTransform attributeName="transform" attributeType="XML" type="translate" from="-300 0" to="0 0" dur="2s" begin="0s" repeatCount="indefinite" />
            </rect>

          <text
            x="53%"
            y="53%"
            text-anchor="middle"
            class="stage-text"
          >
            Ready in store
          </text>
        </svg>
        <svg
          v-if="orderMethod !== 'Pick Up'"
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          width="300px"
          height="200px"
          viewBox="0 0 1920.000000 963.000000"
          preserveAspectRatio="xMidYMid meet"
        >
        
          <g
            :class="{ 'arrow-stage': true, 'done': orderDelivered }"
            transform="translate(0.000000,963.000000) scale(0.100000,-0.100000)"
            fill=""
            stroke="none"
          >
            <path
              d="M93 9509 c36 -68 581 -1135 1212 -2371 l1146 -2248 -1225 -2377
            c-674 -1307 -1226 -2385 -1226 -2395 0 -17 19 -18 373 -19 204 -1 390 -2 412
            -4 22 -1 744 -5 1605 -9 861 -3 1637 -8 1725 -11 88 -3 810 -7 1605 -10 795
            -3 1573 -7 1730 -10 157 -3 872 -7 1590 -10 718 -3 1499 -7 1735 -10 237 -3
            957 -7 1600 -10 644 -3 1424 -7 1735 -10 311 -3 1029 -8 1595 -11 l1030 -6
            1230 2437 c677 1340 1231 2442 1233 2449 2 9 -2442 4668 -2462 4692 -2 3
            -2693 13 -4676 19 -4237 12 -5302 15 -10113 31 l-1919 7 65 -124z"
            />
          </g>

            <rect v-if="orderOnTheWay && !orderDelivered" width="100%" height="100%" fill="url(#progressGradient)" mask="url(#progressMask)" style="z-index: 999;">
              <!-- Animate the mask's position to indicate progress -->
              <animateTransform attributeName="transform" attributeType="XML" type="translate" from="-300 0" to="0 0" dur="2s" begin="0s" repeatCount="indefinite" />
            </rect>

          <text
            x="53%"
            y="53%"
            text-anchor="middle"
            class="stage-text"
          >
            Order on the way
          </text>
        </svg>
        <svg
          v-if="orderMethod !== 'Pick Up'"
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          width="300px"
          height="200px"
          viewBox="0 0 1920.000000 963.000000"
          preserveAspectRatio="xMidYMid meet"
        >
        
          <g
            :class="{ 'arrow-stage': true, 'done': orderDelivered }"
            transform="translate(0.000000,963.000000) scale(0.100000,-0.100000)"
            fill=""
            stroke="none"
          >
            <path
              d="M93 9509 c36 -68 581 -1135 1212 -2371 l1146 -2248 -1225 -2377
            c-674 -1307 -1226 -2385 -1226 -2395 0 -17 19 -18 373 -19 204 -1 390 -2 412
            -4 22 -1 744 -5 1605 -9 861 -3 1637 -8 1725 -11 88 -3 810 -7 1605 -10 795
            -3 1573 -7 1730 -10 157 -3 872 -7 1590 -10 718 -3 1499 -7 1735 -10 237 -3
            957 -7 1600 -10 644 -3 1424 -7 1735 -10 311 -3 1029 -8 1595 -11 l1030 -6
            1230 2437 c677 1340 1231 2442 1233 2449 2 9 -2442 4668 -2462 4692 -2 3
            -2693 13 -4676 19 -4237 12 -5302 15 -10113 31 l-1919 7 65 -124z"
            />
          </g>

          <text
            x="53%"
            y="53%"
            text-anchor="middle"
            class="stage-text"
          >
            Order delivered
          </text>
        </svg>
        </div>
        <div class="row">

            <!-- estimated pick up time -->

                    <!-- pickup store -->

            <div class="col-5 mx-auto">
                <div class="card p-5">

                    <h5 v-if="orderMethod === 'Pick Up'">Estimated pick up time</h5>
                    <h5 v-else>Estimated delivery time</h5>
                    [[ specifiedPickupOrDeliveryTime ]]
                    <h5  v-if="orderMethod === 'Pick Up'">Pick up address</h5>
                    <h5  v-else>Dilivery Address</h5>
                    <div v-if="orderMethod === 'Pick Up'" class="card-body">
                        [[ branchInfo.branchName ]]
                        [[ branchInfo.address]]
                        [[ branchInfo.phoneNumber]]
                        [[ branchInfo.email]]
                        openning: [[ branchInfo.startTime]] - [[ branchInfo.endTime]]
                    </div>
                    <div v-else>
                        [[ customerInfo.Address]]
                        [[ customerInfo.title ]] [[ customerInfo.firstName]] [[ customerInfo.lastName]]
                        [[ customerInfo.phoneNumber]]

                    </div>
                </div>
            </div>
            <div v-if="orderMethod === 'Delivery'" id="map" class="mx-auto col-6"></div>
        </div>

        <!-- rate my order -->
        <div class="row mt-5">

            <div class="card col-11 mx-auto text-center p-5">
                <h4>Rate the order</h4>
                <div class="review">
                    <span class="star">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="star">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="star">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="star">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="star">
                        <i class="fas far-star-half"></i>
                    </span>
                </div>
    
                <form class="mt-3 d-flex flex-column justify-content-center align-items-center">
                    <textarea class="col-8 my-4" id="comment" name="comment" rows="6" cols="50" required></textarea>
                    <button type="submit">Submit</button>
                </form>

            

            </div> 



        </div>


    

        <!-- order details -->




    </div>
</div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script>

    let order = {{ order | tojson | safe }};

    const app = Vue.createApp({
      delimiters: ['[[', ']]'],
      data() {
        return {
          orderID: order.orderID,
          cart: order.cart,
          customerInfo: order.customerInfo,
          branchInfo: order.branchInfo,
          orderMethod: order.orderMethod,
          specifiedPickupOrDeliveryTime: new Date(order.specifiedPickupOrDeliveryTime),
          orderSubmitTime: new Date(order.orderSubmitTime),
          estimatedDeliveryTime: this.orderMethod === 'Pick Up' ? 0 : 30,
          startTime: getCookie("startTimeAndStatus")? new Date(getCookie("startTimeAndStatus").value1) : null,
          orderPlaced: true,
          orderUnderProcess: getCookie("startTimeAndStatus")? getCookie("startTimeAndStatus").value2 === 'true' : false,
          orderInOven: false,
          qualityChecking: false,
          readyInStore: false,
          orderOnTheWay: false,
          orderDelivered: false,
          orderProcessingText: 'Order processing',
          qualityCheckingText: 'Quality checking',
          orderInOvenText: 'Order in oven'
        };
      },
      computed: {
        orderProcessTime() {
            let processTime = 0;
            this.cart.forEach((item) => {
                  if (item.id < 200){
                      processTime += 2; // assume each pizza takes 2 minutes to process
                  }
                });
            return processTime;
        },
        orderTotalCookingTime() {
              let totalTime = this.orderProcessTime;
              let maxTime = 0;
              this.cart.forEach((item) => {
                  if (item.preparetime > maxTime){
                      maxTime = item.preparetime;
                  }
              });
              totalTime += maxTime;
              return totalTime;
            },
        orderInOvenTime(){
            return this.orderTotalCookingTime - this.orderProcessTime;
        },
        orderQuantityCheckingTime(){
            return 1;
        },
        orderReadyInStoreTime(){
            return 0.5;
        },
        orderOnTheWayTime(){
            return this.estimatedDeliveryTime;
        },
        orderTotalTime(){
            return this.orderTotalCookingTime + this.orderQuantityCheckingTime + this.orderReadyInStoreTime +  this.orderOnTheWayTime;
        }

      },
      created() {
        // function setCookie()
        // const orderStatusObj = [
        //     [this.orderPlaced, 0], 
        //     [this.orderUnderProcess, this.orderProcessTime],
        //     [this.orderInOven, this.orderInOvenTime],
        //     [this.qualityChecking, this.orderQuantityCheckingTime],
        //     [this.readyInStore, this.orderReadyInStoreTime],
        //     [this.orderOnTheWay, this.orderOnTheWayTime],
        //     [this.orderDelivered, 0]
        // ];
        const timeArray = [this.orderProcessTime, this.orderInOvenTime, this.orderQuantityCheckingTime, this.orderReadyInStoreTime, this.orderOnTheWayTime];
        const currentTime = new Date();
        const timeDifference = (this.specifiedPickupOrDeliveryTime - currentTime)/60000;
        // console.log("Total time:");
        // console.log(this.orderTotalTime);
        // console.log("specified pickup/delivery time:");
        // console.log(this.specifiedPickupOrDeliveryTime);
        // console.log("currentTime: ");
        // console.log(new Date());
        // console.log("time span from current time to specified pickup/delivery time:" );
        // console.log(timeDifference);
        // console.log("orderUnderProcess status:");
        // console.log(this.orderUnderProcess);
        // console.log("orderUnderProcess:" + this.orderUnderProcess);
        // console.log("orderInOven:" + this.orderInOven);
        // console.log("qualityChecking:" + this.qualityChecking); 
        // console.log("readyInStore:" + this.readyInStore);
        // console.log("orderOnTheWay:" + this.orderOnTheWay);
        // console.log("because of cookie?");
        // console.log(getCookie("startTimeAndStatus").value2);
        // console.log(typeof(getCookie("startTimeAndStatus").value2));
        // console.log(Boolean(getCookie("startTimeAndStatus").value2));
        // if (this.orderUnderProcess === false && timeDifference > (this.orderTotalTime + this.estimatedDeliveryTime)) {
        //     setTimeout(() => {
        //         this.orderUnderProcess = true;
        //     }, (timeDifference - this.orderTotalTime - this.estimatedDeliveryTime + this.orderProcessTime) * 60000);
        // } else if (this.orderUnderProcess === false) {
        //     setTimeout(() => {
        //         this.orderUnderProcess = true;
        //     }, 0);
        // } 
        // if (timeDifference < 0){
        //     this.orderUnderProcess = true;
        //     this.orderInOven = true;
        //     this.qualityChecking = true;
        //     this.readyInStore = true;
        //     this.orderOnTheWay = true;
        //     this.orderDelivered = true;
        if (this.orderUnderProcess === false && timeDifference > this.orderTotalTime){
            this.startTime = new Date(this.specifiedPickupOrDeliveryTime.getTime() - this.orderTotalTime * 60000);
            setStartTimeAndStatusCookie('startTimeAndStatus', this.startTime, false, 1);
            setTimeout(() => {
                this.orderUnderProcess = true;
            }, (timeDifference - this.orderTotalTime) * 60000);    
        } else if (this.orderUnderProcess === false && timeDifference >= 0  && timeDifference <= this.orderTotalTime){
            this.startTime = new Date();
            setStartTimeAndStatusCookie('startTimeAndStatus', this.startTime, true, 1);
            setTimeout(() => {
                this.orderUnderProcess = true;
            }, 0);   
        } else if (this.orderUnderProcess === true && timeDifference <= this.orderTotalTime){
            let lapsedTime = (currentTime - this.startTime)/60000;
            // console.log('lapsed time:');
            // console.log(lapsedTime);

            if (lapsedTime > 0 && lapsedTime < timeArray[0]){
                setTimeout(() => {
                this.orderInOven = true;
                this.orderProcessingText = 'Order processed';
            }, (timeArray[0] - lapsedTime)* 60000);   
            } else if (lapsedTime > timeArray[0] && lapsedTime < timeArray[0] + timeArray[1] ){ 
                this.orderInOven = true;
                this.orderProcessingText = 'Order processed';
                setTimeout(() => {
                this.qualityChecking = true;
                this.orderInOvenText = 'Order cooked';
                }, (timeArray[0] + timeArray[1] - lapsedTime)* 60000); 
            } else if (lapsedTime > timeArray[0] + timeArray[1] &&  lapsedTime < timeArray[0] + timeArray[1] + timeArray[2]) { 
                this.orderInOven = true;
                this.orderProcessingText = 'Order processed';
                this.qualityChecking = true;
                this.orderInOvenText = 'Order cooked';
                setTimeout(() => {
                this.readyInStore = true;
                this.qualityCheckingText = 'Quality checked';
                }, (timeArray[0] + timeArray[1] + timeArray[2] - lapsedTime)* 60000); 
            } else if (lapsedTime > timeArray[0] + timeArray[1] + timeArray[2] && lapsedTime < timeArray[0] + timeArray[1] + timeArray[2] + timeArray[3]) { 
                this.orderInOven = true;
                this.orderProcessingText = 'Order processed';
                this.qualityChecking = true;
                this.orderInOvenText = 'Order cooked';
                this.readyInStore = true;
                this.qualityCheckingText = 'Quality checked';
                setTimeout(() => {
                this.orderOnTheWay = true;
                }, (timeArray[0] + timeArray[1] + timeArray[2] + timeArray[3] - lapsedTime)* 60000); 
            } else if (lapsedTime > timeArray[0] + timeArray[1] + timeArray[2] + timeArray[3] && lapsedTime < timeArray[0] + timeArray[1] + timeArray[2] + timeArray[3] + timeArray[4]){
                this.orderInOven = true;
                this.orderProcessingText = 'Order processed';
                this.qualityChecking = true;
                this.orderInOvenText = 'Order cooked';
                this.readyInStore = true;
                this.qualityCheckingText = 'Quality checked';
                this.orderOnTheWay = true;
                setTimeout(() => {
                    this.orderDelivered = true;
                }, (timeArray[0] + timeArray[1] + timeArray[2] + timeArray[3] + timeArray[4] - lapsedTime)* 60000); 
            }
            if (lapsedTime > timeArray[0] + timeArray[1] + timeArray[2] + timeArray[3] + timeArray[4]){
                this.orderInOven = true;
                this.orderProcessingText = 'Order processed';
                this.qualityChecking = true;
                this.orderInOvenText = 'Order cooked';
                this.readyInStore = true;
                this.qualityCheckingText = 'Quality checked';
                this.orderOnTheWay = true;
                this.orderDelivered = true;
            }
            // console.log("lapsedTime:");
            // console.log(lapsedTime);
            // for (let i = 0; i < orderStatusArray.length-1; i++) {
            //     console.log(orderStatusArray[i][0]);
            //     console.log( orderStatusArray[i][1]);
            //     console.log(orderAcumulatedTime);
            //     if (lapsedTime >= orderAcumulatedTime + orderStatusArray[i][1]) {
            //         orderStatusArray[i+1][0] = true;
            //     } else {
            //         orderStatusArray[i][1] = orderStatusArray[i][1] - (lapsedTime - orderAcumulatedTime);
            //         setTimeout(() => {
            //             orderStatusArray[i][0] = true;
            //         }, orderStatusArray[i][1] * 60000);
            //         break;
            //     }
            //     orderAcumulatedTime += orderStatusArray[i][1];
            }
            // console.log("orderInOven:" + this.orderInOven);
            // console.log("qualityChecking:" + this.qualityChecking); 
            // console.log("readyInStore:" + this.readyInStore);
            // console.log("orderOnTheWay:" + this.orderOnTheWay);
      },
      watch: {
        orderUnderProcess(newStatus) {
            if (newStatus) {
                setTimeout(() => {
                    this.orderInOven = true;
                    this.orderProcessingText = 'Order processed';
                }, this.orderProcessTime * 60000);
            }
        },
        orderInOven(newStatus) {
            if (newStatus) {
            setTimeout(() => {
                this.qualityChecking = true;
                this.orderInOvenText = 'Order cooked';
            }, (this.orderInOvenTime) * 60000);
            }
        },
        qualityChecking(newStatus) {
            if (newStatus) {
            setTimeout(() => {
                this.readyInStore = true;
                this.qualityCheckingText = 'Quality checked';
            }, this.orderQuantityCheckingTime * 60000);
            }
        },
        readyInStore(newStatus) {
            if (newStatus && this.orderMethod === 'Delivery') {
            setTimeout(() => {
                this.orderOnTheWay = true;
            }, this.orderReadyInStoreTime * 60000);
            }
        },
        orderOnTheWay(newStatus) {
            if (newStatus && this.orderMethod === 'Delivery') {
            setTimeout(() => {
                this.orderDelivered = true;
            }, this.orderOnTheWay * 60000);
            }
        }
      },

      methods: {
      },
      mounted() {
        // console.log("order details:");
        // console.log(order);
        // console.log("cookie - startTime:");
        // console.log(getCookie('startTimeAndStatus')?getCookie('startTimeAndStatus').value1: null);
        // console.log("cookie - status:");
        // console.log(getCookie('startTimeAndStatus')?getCookie('startTimeAndStatus').value2: null);

      }
    });

    app.mount('#trackOrderApp');

    function setStartTimeAndStatusCookie(name, value1, value2, days){
        const expires = new Date();
        expires.setTime(expires.getTime() + days * 24 * 60 * 60 * 1000);

        const aucklandTimezoneOffset = -12 * 60;
        expires.setMinutes(expires.getMinutes() - aucklandTimezoneOffset);
        const expiresString = `expires=${expires.toUTCString()}`;
        document.cookie = `${name}=${value1}::${value2}; ${expiresString}; path=/customer/trackOrder/${order.orderID}`;
        // console.log(document.cookie);
    }

    function getCookie(name) {
        const cookieName = name + '=';
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            if (cookie.indexOf(cookieName) === 0) {
                const cookieValue = cookie.substring(cookieName.length);
                const values = cookieValue.split('::');
                if (values.length === 2) {
                    const value1 = values[0];
                    const value2 = values[1];
                    return { value1, value2 };
                }
            }
        }
        return null; // Cookie not found or invalid format
    }

    var map = L.map('map').setView(order.branchInfo.GPS, 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var marker = L.marker(order.branchInfo.GPS).addTo(map);
    marker.bindPopup(`<b>${order.branchInfo.branchName}</b>`);
  </script>

  {% endblock %}
</div>
